<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin.html}">
<head>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Sửa bài viết</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="post" th:object="${post}" th:action="@{/admin/post/update/{id}(id=${post.id})}">
                                <div class="form-group">
                                    <label for="name">Tiêu đề</label>
                                    <input type="text" class="form-control" th:field="*{title}" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="name">Ảnh</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" th:field="*{image}" name="image" id="customFile">
                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name">Tác giả</label>
                                    <input type="text" class="form-control" th:field="*{author}" name="author">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nội dung</label>
                                    <textarea class="form-control" rows="3" th:field="*{content}" name="content"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Sửa</button>
                                <a href="/admin/post/index" class="btn bg-danger">Quay lại</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>