<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin.html}">
<head>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Danh sách sản phẩm</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="datatable_wrapper" class="dataTables_wrapper">
                                    <a class="btn btn-primary mb-3" href="/admin/product/create">Thêm sản phẩm</a>
                                    <table id="datatable" class="table data-table table-striped dataTable" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr class="ligth" role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1" aria-sort="ascending"
                                                    style="width: 158.094px;">Id</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1" style="width: 247.594px;">Tên sản phẩm</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1" style="width: 118.938px;">Giá</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1" style="width: 118.938px;">Ảnh</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1" style="width: 39.7031px;">Mô tả</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1" style="width: 39.7031px;">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd" th:each="product : ${products}">
                                                <td class="sorting_1" th:text="${product.id}"></td>
                                                <td th:text="${product.name}"></td>
                                                <td th:text="${product.price}"></td>
                                                <td th:text="${product.image}"></td>
                                                <td th:text="${product.description}"></td>
                                                <td>
                                                    <div class="d-flex">
                                                        <a th:href="@{/admin/product/edit/{id}(id=${product.id})}" class="btn btn-warning">Sửa</a>
                                                        <a th:href="@{/admin/product/delete/{id}(id=${product.id})}" class="btn btn-danger mx-2">Xoá</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>