<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin.html}">
<head>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Danh sách đặt hàng</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <div id="datatable_wrapper" class="dataTables_wrapper">
                                    <table id="datatable" class="table data-table table-striped dataTable" role="grid" aria-describedby="datatable_info">
                                        <thead>
                                            <tr class="ligth" role="row">
                                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1">Mã đơn hàng</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1">Người đặt</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1">Số tiền</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                    colspan="1">Ngày đặt</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1">Trạng thái</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1">Tin nhắn</th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1"
                                                colspan="1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr role="row" class="odd" th:each="order : ${orders}">
                                                <td th:text="${order.id}"></td>
                                                <td th:text="${order.name}"></td>
                                                <td th:text="${order.getTotalPriceStr()}"></td>
                                                <td th:text="${order.getTimeCreate()}" style="text-wrap: nowrap;"></td>
                                                <td>[(${order.getStatusStr()})]</td>
                                                <td th:text="${order.message}"></td>
                                                <td><a th:href="@{/admin/order/detail/{id}(id=${order.id})}" class="btn btn-primary text-nowrap">Chi tiết</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>