<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/client.html}">
<head>
</head>
<body>
    <div layout:fragment="content">
        <link rel="stylesheet" href="/login-public/css/style.css">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="form-block py-5">
                                <div class="mb-4">
                                    <h3>Đăng ký</h3>
                                </div>
                                <form action="/auth/register" method="post">
                                    <div th:if="${error}">
                                        <div class="h5" th:text="${error}"></div>
                                    </div>
                                    <div class="form-group first">
                                        <label for="name">Họ tên</label>
                                        <input type="text" class="form-control" name="name" id="name">
                                    </div>
                                    <div class="form-group first">
                                        <label for="email">Email</label>
                                        <input type="text" class="form-control" name="email" id="email">
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="password">Mật khẩu</label>
                                        <input type="password" class="form-control" name="password" id="password">
                                    </div>
                                    <div class="form-group last mb-4">
                                        <label for="address">Địa chỉ</label>
                                        <input type="address" class="form-control" name="address" id="address">
                                    </div>
    
                                    <input type="submit" value="Đăng ký" class="btn btn-pill text-white btn-block btn-primary">
    
                                    <span class="d-block text-center my-4 text-muted">Đã có tài khoản? <a href="/auth/login">Đăng nhập</a></span>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <script src="/login-public/js/main.js"></script>
    </div>
</body>
</html>